@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: #f6f9fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

::selection {
  background: #d81159;
  color: #f6f9fc;
}

::-moz-selection {
  background: #d81159;
  color: #f6f9fc;
}

.custom-shadow {
  box-shadow: 31px 17px 45px 0px #8989894d;
}

deckgo-highlight-code {
  --deckgo-highlight-code-scroll: auto;
  --deckgo-highlight-code-carbon-overflow: auto;
  --deckgo-highlight-code-container-width: max-content;
  scrollbar-width: thin;
}

deckgo-highlight-code::-webkit-scrollbar {
  height: 7px;
}

deckgo-highlight-code::-webkit-scrollbar-track {
  background: #222; 
}
 
deckgo-highlight-code::-webkit-scrollbar-thumb {
  background: #888; 
}

deckgo-highlight-code::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
