@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: #f6f9fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

::selection {
  background: #d81159;
  color: #f6f9fc;
}

::-moz-selection {
  background: #d81159;
  color: #f6f9fc;
}

.custom-shadow {
  box-shadow: 31px 17px 45px 0px #8989894d;
}
